Src/ToolsCommon/Microsoft.WindowsPhone.ImageUpdate.Tools.Common/MicrosoftPhoneSKU.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" xmlns:mstns="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MicrosoftPhoneSKU">    
    <xs:complexType>
          <xs:all>
            
            <xs:element name="BasePackages" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>

                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="BootUILanguagePackageFile" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:attribute name="Path" type="xs:string" />
                <xs:attribute name="Name" type="xs:string" />
                <xs:attribute name="ID" type="xs:string" use="optional" />
                <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

              </xs:complexType>
            </xs:element>

            <xs:element name="BootLocalePackageFile" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:attribute name="Path" type="xs:string" />
                <xs:attribute name="Name" type="xs:string" />
                <xs:attribute name="ID" type="xs:string" use="optional" />
                <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>

            <xs:element name="InternalOptionalFeatures" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FeatureIDs" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="FeatureID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" use="optional" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="ProductionOptionalFeatures" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FeatureIDs" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="FeatureID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" use="optional" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="MSOptionalFeatures" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>                      
                      <xs:sequence>
                        <xs:element name="FeatureIDs" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="FeatureID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>                      
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" use="optional" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="CPUPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
             
                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="ReleasePackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="ReleaseType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Test"/>
                            <xs:enumeration value="Production"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="SOCPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="SOC" type="xs:string" />
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="SVPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="SV" type="xs:string" />
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>


                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="DeviceLayoutPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="SOC" type="xs:string" />
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            
            <xs:element name="OEMDevicePlatformPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Device" type="xs:string" />
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="DeviceSpecificPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Device" type="xs:string" />
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="CPUType" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="x86"/>
                            <xs:enumeration value="arm"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="PrereleasePackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Type" >
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="protected"/>
                            <xs:enumeration value="replacement"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>

                      <xs:attribute name="Resolution" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="KeyboardPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      
                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="SpeechPackages" minOccurs="0" maxOccurs="1" >
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PackageFile" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Path" type="xs:string" />
                      <xs:attribute name="Name" type="xs:string" />
                      <xs:attribute name="ID" type="xs:string" use="optional" />
                      <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
                      <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
                      
                      <xs:attribute name="Language" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>

                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

          </xs:all>
      </xs:complexType>
  </xs:element>
</xs:schema>
