Src/ToolsCommon/FeatureManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" xmlns:mstns="http://schemas.microsoft.com/embedded/2004/10/ImageUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="pkgFileType">
    <xs:attribute name="Path" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ID" type="xs:string" use="optional" />
    <xs:attribute name="NoBasePackage" type="xs:boolean" use="optional"/>
    <xs:attribute name="FeatureIdentifierPackage" type="xs:boolean" use="optional"/>
    <xs:attribute name="Partition" type="xs:string" use="optional" />
    <xs:attribute name="Version" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="basePkgType">
    <xs:complexContent>
      <xs:extension base="pkgFileType">
        <xs:attribute name="CPUType" use="optional" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="x86"/>
              <xs:enumeration value="arm"/>
              <xs:enumeration value="X86"/>
              <xs:enumeration value="ARM"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="Resolution" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\*|(!?\([1-9][0-9]+(x|X)[1-9][0-9]+(;[1-9][0-9]+(x|X)[1-9][0-9]+)*\))"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="Language" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="langPkgType">
    <xs:complexContent>
      <xs:extension base="pkgFileType">

        <xs:attribute name="Language">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\*|(!?\([a-zA-Z][a-zA-Z\-]+(;[a-zA-Z][a-zA-Z\-]+)*\))"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="featurePkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:sequence>
          <xs:element name="FeatureIDs" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FeatureID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="releasePkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:attribute name="ReleaseType" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Test"/>
              <xs:enumeration value="Production"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="prereleasePkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:attribute name="Type" use="required" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="protected"/>
              <xs:enumeration value="replacement"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>    
  </xs:complexType>

  <xs:complexType name="socPkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:attribute name="SOC" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="svPkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:attribute name="SV" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="devicePkgType">
    <xs:complexContent>
      <xs:extension base="basePkgType">
        <xs:attribute name="Device" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FeatureManifest">    
    <xs:complexType>
      <xs:all>
            
        <xs:element name="BasePackages" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="basePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="BootUILanguagePackageFile" type="pkgFileType" minOccurs="0" maxOccurs="1" />

        <xs:element name="BootLocalePackageFile" type="pkgFileType" minOccurs="0" maxOccurs="1" />

        <xs:element name="Features" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:all>

              <xs:element name="MSFeatureGroups" minOccurs="0" maxOccurs="1" >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FeatureGroup" minOccurs="0" maxOccurs="unbounded" >
                          <xs:complexType>
                            <xs:all>
                              <xs:element name="FeatureIDs" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="FeatureID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="SubGroups" minOccurs="0" maxOccurs="1" >
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="FeatureGroup" minOccurs="0" maxOccurs="unbounded" >
                                      <xs:complexType>
                                        <xs:all>
                                          <xs:element name="FeatureIDs" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="FeatureID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="SubGroups" minOccurs="0" maxOccurs="1" />
                                        </xs:all>
                                        <xs:attribute name="Name" type="xs:string" use="optional"/>
                                        <xs:attribute name="FMID" type="xs:string" use="optional"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:all>
                            <xs:attribute name="Name" type="xs:string" use="optional"/>
                            <xs:attribute name="FMID" type="xs:string" use="optional"/>
                            <xs:attribute name="PublishingFeatureGroup" type="xs:boolean" use="optional"/>
                            <xs:attribute name="Constraint" use="optional" >
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="OneOrMore"/>
                                  <xs:enumeration value="ZeroOrOne"/>
                                  <xs:enumeration value="OneAndOnlyOne"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
              
              <xs:element name="Microsoft" minOccurs="0" maxOccurs="1" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PackageFile" type="featurePkgType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="OEMFeatureGroups" minOccurs="0" maxOccurs="1" >
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FeatureGroup" minOccurs="0" maxOccurs="unbounded" >
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="FeatureIDs" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="FeatureID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="SubGroups" minOccurs="0" maxOccurs="1" >
                                <xs:complexType>
                                  <xs:all>
                                    <xs:element name="FeatureGroup" minOccurs="0">
                                      <xs:complexType>
                                        <xs:all>
                                          <xs:element name="FeatureIDs" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element name="FeatureID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="SubGroups" minOccurs="0" maxOccurs="1" />
                                        </xs:all>
                                        <xs:attribute name="Name" type="xs:string" use="optional"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:all>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="Name" type="xs:string" use="optional"/>
                            <xs:attribute name="Constraint" use="optional" >
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="OneOrMore"/>
                                  <xs:enumeration value="ZeroOrOne"/>
                                  <xs:enumeration value="OneAndOnlyOne"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  
              <xs:element name="OEM" minOccurs="0" maxOccurs="1" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PackageFile" type="featurePkgType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="CPUPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="basePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ReleasePackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="releasePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="PrereleasePackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="prereleasePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SOCPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="socPkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SVPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="svPkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DeviceLayoutPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="socPkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="OEMDevicePlatformPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="devicePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DeviceSpecificPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="devicePkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="KeyboardPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="langPkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SpeechPackages" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PackageFile" type="langPkgType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
